@CHARSET "ISO-8859-1";

.formtable{
	padding:10px;
	border:1px solid blue;
}
			
input[type=text]{
	width:300px;
	margin-left:30px;
}
		
.label {
	text-align:right;
	veritical-align:right;
}

.error{
	font-size:small;
	color:red;
	margin-left:20px;
}